html {
    background:#ff5aa4;
}

body {
    margin     : 0;
    padding    : 0;
    font-family: 'Roboto', sans-serif;
    background : #ff5aa4 !important;
}

#filappal {
    margin: 0 auto;
}

#wrappConsol {
    display      : flex;
    min-width    : 1300px !important;
    padding      : 20px;
    border       : 2px solid lightgray;
    border-radius: 20px;
}

#tpremio {
    font-size: 0.92em;
}

#datoColumna {
    display   : grid;
    width     : 125px;
    text-align: center;
}

#numCard {
    padding         : 4px !important;
    margin          : 0;
    background-color: aliceblue;
}

#realData {
    text-align: center;
    padding   : 0;
}

#numventa {
    width        : 5%;
    padding      : 0;
    color        : red;
    border       : 1px solid gray;
    border-radius: 5px 0 0 5px;
    font-weight  : bold;
    text-align   : center;
    padding      : 4px;
}

#montovta {
    width           : 5%;
    padding         : 0;
    border          : 1px solid gray;
    border-radius   : 0 5px 5px 0;
    background-color: white;
    font-weight     : bold;
    padding-right   : 5%;
    text-align      : right;
    font-size       : 1em;
    height          : 35px;
    padding         : 4px;
}

#filaDatos {
    margin : 0 auto;
    padding: 0;
}

#mnuNav {
    left: auto;
}

#cardTarjetas {
    margin       : 0 auto;
    width        : 80%;
    margin-top   : 15px;
    border-radius: 10px;

}

#dtoCenter {
    text-align: center !important;
}

#datoTotal {
    text-align   : right;
    padding-right: 5px;
}

#wrappanel {
    height    : auto;
    background:#ff5aa4;
}

#cardcuerpo {
    padding: 0;
}



#frmdatos {
    width     : 40%;
    margin    : 0 auto;
    margin-top: 20px;
}

#contbtnventas {
    width : 40%;
    margin: 0 auto;
}

#aviso {
    font-weight: bold;
}

#loginCard {
    width           : 35%;
    margin          : 0 auto;
    padding         : 5%;
    border-radius   : 20px;
    top             : 50%;
    left            : 50%;
    position        : absolute;
    transform       : translate(-50%, -50%);
    box-sizing      : border-box;
    background-color: #ffccdb;
}


#labelbold {
    font-weight: bold;
}

#labelpremio {
    font-weight: bold;
}

#labelnumero {
    font-weight: bold;
}

#btnIngresar {
    display   : table;
    margin    : 0 auto;
    margin-top: 15px;
    width     : 80%;
}

#resumen {
    width : 90%;
    margin: 0 auto;
}

#tablavtas {
    width : 85%;
    margin: 0 auto;
}


#btngroupTurnos {
    display              : grid;
    margin               : 0 auto;
    margin-top           : 5%;
    margin-bottom        : 5%;
    grid-template-columns: 1fr 1fr;
    width                : 90%;
}

#contbtnEnviar {
    margin : 0 auto;
    display: table;
}

#btnAdminTurnos {
    display      : table;
    margin       : 0 auto;
    margin-top   : 5%;
    margin-bottom: 5%;
}

#BtnmatutinoAd,
#BtnmdiaAd,
#BtntardeAd,
#BtnnocheAD {
    margin: 3px;
}

#wraphome {
    width               : 100%;
    /*     padding-right: 0;
    padding-left        : 0; */
    height              : auto;
    background          : #ff5aa4;
}

#filabtn {
    display   : flex;
    text-align: center;
}

#wrapbtn {
    position       : relative;
    /*     -ms-flex: 1 1 auto; */
    flex           : 1 1 auto;
    padding        : 4px;
    background     : #ff5aa4;
}

#campoTurno {
    padding: 0 !important;
    width  : 95%;
    margin : 0 auto;
}

#btnEnviar {
    min-width : 250px;
    margin-top: 15px;
}

#btnEnviarR {
    min-width : 250px;
    margin-top: 15px;
}



#vtaTurno {
    padding         : 6px;
    border-radius   : 10px;
    text-align      : center;
    font-size       : 1em;
    font-weight     : bold;
    background-color: black;
    color           : white;
    border-right    : 2px solid white;
    margin-top      : 6px;
    box-shadow      : 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

#vtaDia {
    padding         : 6px;
    border-radius   : 10px;
    text-align      : center;
    font-size       : 1em;
    font-weight     : bold;
    background-color: blue;
    color           : white;
    border-left     : 2px solid white;
    margin-top      : 6px;
    box-shadow      : 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.logo img {
    width        : 85%;
    margin       : 0 auto;
    display      : flex;
    align-items  : center;
    margin-bottom: 15px;
}

#tituloDetalleVentas {
    text-align    : center;
    text-transform: uppercase;
}

#calendario {
    width      : 25%;
    margin     : 0 auto;
    margin-top : 5px;
    font-weight: bold;
}

#wrapuser {
    height: 50px;
}

#NewUser {
    background-color: darkseagreen;
    width           : 95%;
    margin          : 0 auto;
}

#titleRegister {
    text-align   : center;
    margin-top   : 10px;
    margin-bottom: 10px;
}

#wrappass {
    height: 50px;
}

#usuario {
    height: 100%;
}

#password {
    height: 100%;
}

.aligtxtc {
    text-align: center;
}

.aligtxtd {
    text-align: right;
}

#titlealigcenter {
    text-align: center;
}

.aligtotDet {
    text-align   : right;
    padding-right: 10px !important;
}

#totalTurno {
    padding-left: 10px;
    text-align  : center;
}

#totalDia {
    padding-left: 25px;
    text-align  : center;
}

#cabeceraModal {
    height: 80px;
}



#fechaRep {
    width     : 63%;
    text-align: center;
    font-size : 1em;
    margin-top: 5%;
}

.tituloVentas {
    width     : 70%;
    margin-top: 7%;
}

#iconoReloj {
    font-size: 1.1em;
    color    : limegreen;
}

#matutino,
#mdia,
#tarde,
#noche {
    margin: 1px;
}

#campohora {
    padding: 0 !important;
    width  : 95%;
    margin : 0 auto;
}


#grupoHora {
    width      : 100%;
    text-align : center;
    font-weight: bold;
    font-size  : 1.5em;

}

#grupoTurno {
    width      : 100%;
    text-align : center;
    font-weight: bold;
    font-size  : 1.5em;
}

#marco {
    border          : 1px solid lightgray;
    width           : 100%;
    padding         : 5px;
    color           : lightslategray;
    font-size       : 1.3em;
    background-color: white;
    border-radius   : 0 10px 10px 0;
}

#marcoturno {
    border          : 1px solid lightgray;
    width           : 100%;
    padding         : 5px;
    color           : lightslategray;
    font-size       : 1.3em;
    background-color: white;
    border-radius   : 0 10px 10px 0;
}

#marcoturno span {
    color    : lightslategray;
    font-size: 1em;
}

#iconoUser {
    margin-right: 5px;
}

#username {
    font-size: 0.95em;
}

#camposNum {
    width : 85%;
    margin: 0 auto;

}

#campoNumero {
    width  : 49%;
    padding: 10px;
}

#campoMoney {
    width  : 51%;
    padding: 10px;
}

#contgrupnumero {
    height: 60px;
}

#numero {
    height     : 100%;
    text-align : center;
    font-weight: bold;
    font-size  : 1.8em;
}

#numeroR {
    height     : 100%;
    text-align : center;
    font-weight: bold;
    font-size  : 1.8em;
}

#premio {
    height     : 100%;
    text-align : center;
    font-weight: bold;
    font-size  : 1.8em;
}

#premioR {
    height     : 100%;
    text-align : center;
    font-weight: bold;
    font-size  : 1.8em;
}

#dpremio {
    text-align: right;
}

#ddinero {
    text-align: right;
}

#contn {
    width        : 50%;
    margin       : 0 auto;
    margin-top   : 20px;
    margin-bottom: 20px;
}

#labelcons {
    margin-top: 0;
}

#messDate {
    display: block;
}

#formUser {
    display              : grid;
    grid-template-columns: 1fr 2fr;
}

form input[type="file"] {
    display: none;
}

/* form .form-group input {
    padding: 23px 12px; 
}  */

#grupoInputsUser {
    margin-right : 5px;
    margin-bottom: 5px;

}

form #grupoInputsUser label {
    margin-bottom: 0 !important;
}

#grupoInputsUser input {
    margin : 0;
    padding: 6px 12px;
}

#formUser .entradas {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    margin               : 20px;
}

#formAddvendedor {
    padding         : 15px;
    border-radius   : 20px;
    background-color: #ff5aa4;
}

form .unagrilla {
    grid-column: 1/3;
}

.cr-boundary {
    width : 300px;
    height: 300px;
}

#rptDeVtas_length {
    margin-right: 25px;
}

#rptDeVtas_length {
    margin-right: 25px;
}

#rptDeUsers_length {
    margin-right: 25px;
}

#rptDeVtas_length label select {
    width: 30%;
}

#rptDeUsers_length label select {
    width: 30%;
}

#rptDeUsers_wrapper .dt-buttons {
    display: contents !important;
}

#rptDeVtas_wrapper .dt-buttons {
    display: contents !important;
}

#rptDeVtas {
    width: 100%;
}

#rptDeUsers {
    width: 100%;
}

.swal2-cancel {
    margin: 10px;
}


.swal2-confirm {
    margin: 10px;
}

#lblbtn {
    width      : 200px;
    padding    : 20px;
    margin-top : 20px;
    margin-left: 20px;
}

#accordionExample {
    width     : 60%;
    margin    : 0 auto;
    margin-top: 3%;
}

#accordionExample #headingTwo button i {
    font-size: 1.3em;
    color    : red;
    margin   : 5px;
}

#accordionExample #headingOne button i {
    font-size: 1.3em;
    color    : green;
    margin   : 5px;
}

#accordionExample #headingThree button i {
    font-size: 1.3em;
    color    : blue;
    margin   : 5px;
}

#grupBtn {
    margin-top: 10px;
}

#contbloqueo {
    display   : block;
    text-align: center;
}

#cardcuerpobloq {
    padding   : 0;
    margin    : 10px auto;
    text-align: center;

}

#collapseOne {
    background-color: aqua;
}

#collapseTwo {
    background-color: aqua;
}

#collapseThree {
    background-color: aqua;
}

/* 
#frmdatos{
    width: 40%;
    margin: 0 auto;
    margin-top: 5px ;
} */

#wrapseluser {
    width: 100%;
}

#selUsers {
    width: 100%;
}

.form-inline label {
    margin: 5px;
}

.form-inline #selUsers label i {
    margin: 5px;
}

#titleAdmon {
    text-align    : center;
    margin        : 0 auto;
    text-transform: uppercase;
    margin-top    : 10px;
}

#contTurno {
    width     : 90%;
    margin    : 0 auto;
    margin-top: 10px;
}

#vendedor_select{
    width: 20%;
}


#filappal h5 {
    padding   : 5px;
    margin-top: 10px;
    left      : 80%;
    background: blue;
    color     : white;
}

#contImagen img {
    width     : 30%;
    margin    : 0 auto;
    margin-top: 20px;
}

#delete_range {
    margin: 15px;
}

#cantidad_corte {
    font-size  : 1.2em;
    font-weight: bold;
}

#colum_count {
    font-size  : 1.2em;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: aquamarine !important;
}

#nuevoMaxmino {
    margin: 10px;
}

#deleteAll {
    margin: 10px;
}

#tablaMax_length select {
    width: 30%;
}


.float {
    position        : fixed;
    width           : 65px;
    height          : 65px;
    bottom          : 40px;
    left            : 33% !important;
    background-color: rgba(9, 128, 58, 0.486);
    color           : #fff;
    border-radius   : 50px;
    text-align      : center;
    box-shadow      : 2px 2px 3px #999;
    z-index         : 99;
}

.my-float {
    font-size : 18px;
    margin-top: 22px;
}

.modal-content {
    background:#ff5aa4 !important;
}

#msgCheckVtas {
    margin-top: 5px;
}

#rangeMisvts {
    margin-top: 10px;
    font-size : 1.2em;
}

.modal-body #turno_select {
    font-size: 1.1em;
    height   : auto;
}

#dtMisVentas_paginate ul li {
    padding: 0.5em 0.3em;
}

.daterangepicker .ranges ul li {
    font-size: 1em;
}

#modalmisvtas {
    width: 40%;
}

.dt-buttons {
    display: none;
}

#tblIngreso {
    margin    : 0 auto;
    margin-top: 10px;
    width     : 70%;
}

#tblIngreso th {
    text-align: center;

}

#dataIngreso td {
    font-size  : 1em;
    text-align : center;
    font-weight: bold;
}

#historialVentas {
    background-color: aquamarine;
    padding         : 5px;
    margin          : 10px;
    border-radius   : 15px;
}

#historialVentas h6 {
    font-weight: bold;
    text-align : center;
}

#btnDelVta {
    margin: 10px;
}

#marcoVtasBorradas {
    background: deepskyblue !important;
    width     : 60%;
    margin    : 0 auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 767.98px) {

    html {
        background-color: #ff5aa4;
    }

    body {
        background-color:#ff5aa4;
    }

    #marcoVtasBorradas {
        background: deepskyblue !important;
        width     : 100%;
        margin    : 0 auto;
    }

    #btnDelVta {
        margin: 10px;
    }

    #grupoturno {
        padding: 0;
    }

    #grupohora {
        padding: 0;
    }

    #historialVentas {
        background-color: aquamarine;
        padding         : 5px;
        margin          : 10px;
        border-radius   : 15px;
    }

    #historialVentas h6 {
        font-weight: bold;
        text-align : center;
    }

    #tblIngreso {
        margin    : 0 auto;
        margin-top: 10px;
        width     : 70%;
    }

    #tblIngreso th {
        text-align: center;
    }

    #dataIngreso td {
        font-size  : 1em;
        text-align : center;
        font-weight: bold;
        padding    : 0.35rem;
    }

    .dt-buttons {
        display: none;
    }

    #modalmisvtas {
        width : 95%;
        margin: 0 auto;

    }

    .daterangepicker .ranges ul li {
        font-size: 1em;
    }

    .modal-body #turno_select {
        font-size: 1.1em;
        height   : auto;
    }

    #rangeMisvts {
        margin-top: 10px;
        font-size : 1.2em;
    }

    #vendedor_select{
        width: 100%;
    }


    #dtMisVentas_paginate ul li {
        padding: 0.5em 0.3em;
    }

    #msgCheckVtas {
        margin-top: 5px;
    }

    .modal-content {
        background: #ff5aa4 !important;
    }


    .float {
        position        : fixed;
        width           : 65px;
        height          : 65px;
        bottom          : 40px;
        left            : 7% !important;
        background-color: rgba(9, 128, 58, 0.486);
        color           : #fff;
        border-radius   : 50px;
        text-align      : center;
        box-shadow      : 2px 2px 3px #999;
        z-index         : 99;
    }

    .my-float {
        font-size : 18px;
        margin-top: 22px;
    }

    #rptDeVtas tbody tr .noVis {
        padding: 12px !important;
    }

    table.dataTable>tbody>tr.child ul.dtr-details>li {
        text-align: left;
    }

    /*     table .datatable tbody td{
        padding: 0;
    } */

    #tablaMax {
        width: 300px !important;
    }

    #nuevoMaxmino {
        margin: 10px;
    }

    #deleteAll {
        margin: 10px;
    }

    #swal2-content {
        font-size  : 1.2em;
        font-weight: bold;
    }

    .dropdown-item:hover {
        background-color: aquamarine !important;
    }

    #rptDeVtas {
        width: 100% !important;
    }

    #cantidad_corte {
        font-size  : 1.2em;
        font-weight: bold;
    }

    #colum_count {
        font-size  : 1.2em;
        font-weight: bold;
    }


    #delete_range {
        margin: 15px;
    }

    #contImagen img {
        width     : 60%;
        margin    : 0 auto;
        margin-top: 10px;
    }

    #wrappanel {
        height          : auto;
        background-color: #ff5aa4;
    }

    #wrapbtn {
        background-color: #ff5aa4;
    }

    #filappal h5 {
        padding   : 5px;
        margin-top: 10px;
        left      : 5%;
        background: blue;
        color     : white;
    }

    #contTurno {
        width     : 60%;
        margin    : 0 auto;
        margin-top: 10px;
    }

    #contTurno #turno_select {
        font-size: 1em;
        margin-right: 10px!important;
    }


    #collapseOne {
        background-color: aqua;
    }

    #collapseTwo {
        background-color: aqua;
    }

    #collapseThree {
        background-color: aqua;
        padding         : 10px;
    }


    #contbloqueo {
        display: block;
    }

    #grupBtn {
        margin-top: 10px;
    }

    #cuerpoEsTurnos {
        padding: 0;
    }

    #accordionExample {
        width     : 100%;
        margin    : 0 auto;
        margin-top: 3%;
    }

    #accordionExample #headingTwo button i {
        font-size: 1.3em;
        color    : red;
        margin   : 5px;
    }

    #accordionExample #headingOne button i {
        font-size: 1.3em;
        color    : green;
        margin   : 5px;
    }

    #accordionExample #headingThree button i {
        font-size: 1.3em;
        color    : blue;
        margin   : 5px;
    }

    #rptDeVtas {
        width: 100%;
    }

    #rptDeUsers {
        width: 100%;
    }

    #selUsers {
        display   : inline-flex;
        width     : 90%;
        margin    : 3px !important;
        margin-top: 15px !important;
    }

    #selUsers label {
        display: flex;
        margin : 5px;
    }

    #selUsers label i {
        margin: 5px;
    }

    #form-inline #selUsers label i {
        margin: 5px;
    }

    .cr-boundary {
        width : 250px !important;
        height: 250px !important;
    }

    #formUser {
        display              : block;
        grid-template-columns: 1fr;
    }

    #formUser .entradas {
        display                    : block;
        /*    grid-template-columns: 1fr 2fr; */
    }

    .entradas {
        width : 95% !important;
        margin: 0 auto !important;
    }

    .entradas .form-group {
        width: 100% !important;
    }

    #marco {
        border          : 1px solid lightgray;
        width           : 100%;
        color           : black;
        font-size       : 0.8em;
        background-color: white;
        border-radius   : 0 7px 7px 0;
    }

    #marcoturno {
        border          : 1px solid lightgray;
        width           : 100%;
        /* padding      : 5px; */
        color           : black;
        font-size       : 0.75em;
        background-color: white;
        border-radius   : 0 7px 7px 0;
    }

    #rptDeUsers {
        width: 100% !important;
    }

    .custom-select-sm {
        width: 30% !important;
    }

    #rptDeUsers_length {
        margin-top: 20px;
    }

    #rptDeUsers_filter label {
        display: flex;
    }

    #rptDeVtas_filter label {
        display: flex;
    }

    #messDate {
        display: block;
        width  : 70%;
        margin : 0 auto;
    }

    #filappal {
        margin : 0 auto;
        padding: 0;
    }

    #labelcons {
        margin-top: 10px;
    }

    #contn {
        width  : 95%;
        padding: 10px;
        margin : 10px;
    }

    #inputFila {
        padding: 0;
    }

    #inputCorte {
        padding: 0;
    }

    #calendario {
        width     : 80%;
        margin    : 0 auto;
        margin-top: 5px;
    }

    #wrappConsol {
        min-width: 100% !important;
        margin   : 0 auto !important;
    }

    #campoTurno {
        padding: 0 !important;
        width  : 50%;
        margin : 0 auto;
    }

    #campohora {
        padding: 0 !important;
        width  : 50%;
        margin : 0 auto;
    }

    #cardcuerpobloq {
        padding   : 0;
        margin    : 10px auto;
        text-align: center;

    }

    #cardcuerpobloq h5 {
        text-transform: uppercase;

    }


    #camposNum {
        width : 95%;
        margin: 0 auto;

    }


    #itemMnuNav {
        font-size    : 1.2em;
        margin-top   : 5px;
        margin-bottom: 5px;
    }

    #wraphome {
        height: auto;
    }

    #frmdatos {
        width     : 100%;
        margin    : 0 auto;
        margin-top: 5px;
    }

    #BtnmatutinoAd,
    #BtnmdiaAd,
    #BtntardeAd,
    #BtnnocheAD {
        margin: 2px;
    }

    #loginCard {
        width           : 90%;
        margin          : 0 auto;
        padding         : 5%;
        border-radius   : 20px;
        top             : 50%;
        left            : 50%;
        position        : absolute;
        transform       : translate(-50%, -50%);
        box-sizing      : border-box;
        background-color: #ffccdb;
    }

    #username {
        font-size: 1.1em;
    }

    #contbtnventas {
        width : 90%;
        margin: 0 auto;
    }

    #aviso {
        font-weight: bold;
    }

    #labelbold {
        font-weight: bold;
    }

    #labelpremio {
        font-weight: bold;
    }

    #labelnumero {
        font-weight: bold;
    }

    #btnEnviar {
        min-width : 250px;
        margin-top: 15px;
    }

    #btnEnviarR {
        min-width : 250px;
        margin-top: 15px;
    }

    #cardTarjetas {
        margin       : 0 auto;
        width        : 95%;
        margin-top   : 15px;
        border-radius: 10px;

    }


}



/* Dispositivos Medianos y Tabletas (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

;


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1440px) {
    #loginCard {
        width           : 30%;
        margin          : 0 auto;
        padding         : 5%;
        border-radius   : 20px;
        top             : 50%;
        left            : 50%;
        position        : absolute;
        transform       : translate(-50%, -50%);
        box-sizing      : border-box;
        background-color:#ffccdb ;
    }
}
